:root {
        --cor-de-fundo:#800080;
        --azul-degrade: linear-gradient(97.54deg, #3e1e70 35.49%, #663289 165.37%);
        --fonte-principal: "Poppins";
    }

    body {
        background-color: var(--cor-de-fundo);
        
    }